.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
Mekaniikka_markkerina.aux
Mekaniikka_markkerina.log
Mekaniikka_markkerina.nav
Mekaniikka_markkerina.out
Mekaniikka_markkerina.pdf
Mekaniikka_markkerina.snm
Mekaniikka_markkerina.tex
Mekaniikka_markkerina.toc
Mekaniikka_markkerina_files
